{% extends "base_site.html" %} {% block site_title %}Exclusão de Nome{% endblock %} {% block site_content %}

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Deseja realmente excluir o registro de <strong>{{ person.nome }}  {{ person.sobrenome }}?</strong></label>
        </div>

        <a href="{% url 'nome_lista' %}" class="btn btn-secondary float-left" hx-get="{% url 'nome_lista' %}" hx-target="#partial" hx-trigger="click">Voltar</a>
        <button type="submit" class="btn btn-danger float-right" hx-post="{% url 'nome_delete' person.id %}" hx-target="#partial" hx-trigger="click">Apagar</button>
    </form>
</div>


{% endblock %}