{% extends "base_site.html" %} {% block site_title %}Exclusão de Nome{% endblock %} {% block site_content %}

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Deseja realmente excluir o registro de <strong>{{ item.nome }}  {{ item.sobrenome }}?</strong></label>
        </div>

        <a href="{% url 'item_lista' %}" class="btn btn-secondary float-left" hx-get="{% url 'item_lista' %}" hx-target="#partial" hx-trigger="click">Back</a>
        <button type="submit" class="btn btn-danger float-right" hx-post="{% url 'item_delete' item.id %}" hx-target="#partial" hx-trigger="click">Erase</button>
    </form>
</div>


{% endblock %}