{% extends "base_site.html" %} {% block site_title %}Exclusão de Nome{% endblock %} {% block site_content %}

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Do you really want to delete <strong>{{ item.item }}</strong>?</label>
        </div>
        <div class="row justify-content-between mt-4">
            <div class="col-auto">
                <a href="{% url 'item_lista' %}" class="btn btn-secondary float-left" hx-get="{% url 'item_lista' %}" hx-target="#partial" hx-trigger="click">Back</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-danger float-right" hx-post="{% url 'item_delete' item.id %}" hx-target="#partial" hx-trigger="click">Erase</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}