{% extends "base_site.html" %} {% block site_title %}Lista de Compras{% endblock %} {% block site_content %}
{% load static %}
{% if messages %}
{% for message in messages %}
<script>
    messageSuccess('{{ message }}');
</script>
{% endfor %}
{% endif %}

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/icon.png'%}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          Grocery list
        </a>
          {% if cookie == "hide" %}
         <a class="btn btn-outline-success" type="submit" hx-get="{% url 'hide_items' %}" hx-target="#partial" hx-trigger="click">Show items</a>
          {% else %}
          <a class="btn btn-outline-success" type="submit" hx-get="{% url 'hide_items' %}" hx-target="#partial" hx-trigger="click">Hide items</a>
          {% endif %}
      </div>
    </nav>

<span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span>

<div style="height: 20px;"></div>

<a href="/novo" class="btn btn-default btn-sm btn-success" hx-get="{% url 'item_create' %}" hx-target="#modal" hx-trigger="click"><strong>New Item</strong></a>

<div style="height: 20px;"></div>

<nav class="navbar navbar-light bg-light justify-content-center">
    <input class="form-control mr-2 col-9" type="search" name="search" placeholder="Search..." aria-label="Search" hx-get="{% url 'search_view' %}" hx-target="#search-results" hx-trigger="keyup delay:500ms">
</nav>


<div style="height: 20px;"></div>

<div id="search-results">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Itens</th>
      <th scope="col"></th>
      <th scope="col">Edit</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr class="table-{{ item.category.color }}">
      <th scope="row" hx-get="{% url 'item_update' item.id %}" hx-target="#modal" hx-trigger="click" >{{ item.item }}</th>
      <td hx-get="{% url 'item_update' item.id %}" hx-target="#modal" hx-trigger="click">{{ item.amount }}</td>
      <td>
          <a hx-get="{% url 'item_update' item.id %}" hx-target="#modal" hx-trigger="click" class="btn btn-default btn-sm btn-warning">
              <span class="bi-pencil"></span>
          </a>
          <a hx-get="{% url 'item_delete' item.id %}" hx-target="#modal" hx-trigger="click" class="btn btn-default btn-sm btn-danger">
              <span class="bi-trash"></span>
          </a></td>
      <td>
            {% if item.on_cart %}
            <a hx-post="{% url 'on_cart' item.id %}" hx-target="#partial" hx-trigger="click" class="btn btn-default btn-sm btn-success">
                <span class="bi-cart-check-fill pull-right"></span>
            </a>
            {% else %}
            <a hx-post="{% url 'on_cart' item.id %}" hx-target="#partial" hx-trigger="click" class="btn btn-default btn-sm btn-secondary">
                <span class="bi-cart"></span>
            </a>
            {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div style="height: 20px;"></div>


<nav class="pagination justify-content-center" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if items.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}" hx-get="?page={{ items.previous_page_number }}" hx-target="#partial" hx-trigger="click"><<</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><<</a></li>
        {% endif %}

        <li class="page-item disabled" disabled><a class="page-link" href="#">{{ items.number }}</a></li>

        {% if items.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}" hx-get="?page={{ items.next_page_number }}" hx-target="#partial" hx-trigger="click">>></a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
        {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}